#hangman{
    margin: 0px;
}
#hangman a{
    text-decoration: none;
    color: azure;
}
.nav-list{
    list-style-type: none;
}
.nav-list li{
    margin: 5%;
    transition: ease-out 0.3s;
}
.nav-list a{
    text-decoration: none;
    color: azure;
}
body{
    background-color: rgb(50, 50, 50);
    color: azure;
    font-family: Arial;
    font-size: 2.5em;
    width: auto;
    text-align: center;
}
.nav-list li:hover{
    font-size: 150%;
}